body {
    margin: 0;
    background-color: rgb(243, 240, 235);
}

.container {
    display: grid;       
}
header {
    grid-column-start: 4;
    grid-column-end: 12;
    background-color: #613a19;
    margin-bottom: 20px;
}
.menu {
    grid-column-start: 4;
    grid-column-end: 12;
    justify-content: center;
    gap: 20px;    
}
.imagem_1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}
.imagem_2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;       
}
.imagem_3 {
    margin-left: 30px;        
}
.principal {
    grid-column-start: 4;
    grid-column-end: 12;
    padding-left: 10px;
    padding-right: 40px;
    text-align: justify; 
}
footer {
    grid-column-start: 1;
    grid-column-end: 12;    
    background-color: #613a19;
    color: white;
    text-align: center;
}
ul {
    list-style-type: none;                
}
a, a:link {
    text-decoration: none;
    padding: 8px 16px;
    border: solid #613a19 1px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(190, 161, 124); 
    color: white;  
}
li {
    float: left;
   }
a:hover {
    background-color: #613a19;
    color: white;
}
p {
    margin: 30px;
}
h1 {
    margin: 30px;
}
h4{
    text-align: center;
}
textarea{
border-radius: 10px;
}
.formulário {
float: left;
margin: 10px;
}





